<!DOCTYPE html>
<html>
<head>
  <title>Belote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

  <!--
    <ul calss="nav nav-pills">
      <li role="presentation" class="active"><%= link_to "Home", pages_home_path %></li>
      <li role="presentation"><%= link_to "Belote", pages_belote_path %></li>
      <li role="presentation"><%= link_to "About", pages_about_path %></li>
    </ul>
 
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%=link_to "Home", pages_home_path %></li>
            <li><%=link_to "Belote", pages_belote_path %></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">SignUp/ SignIn </a></li>
            <li><%=link_to "About", pages_about_path %></li>
            <li><a href="#">Help</a></li>
          </ul>
      </div>
    </div>
  </nav>
 !-->
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Games</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%=link_to "Home", pages_home_path %></li>
          <li><%= link_to "Belote", pages_belote_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", pages_about_path %></li>
          <% if user_signed_in? %>
          <li><a href="#">Logged in as <strong><%= current_user.email %></strong>.</a></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
         
          
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  
    <%= yield %>
  </div>
</body>
</html>
